<%- include('../layout/metatag') %>

<%- include('../partials/userheader-shop') %>

<% if (countInCart !== 0) { %>
      <section class="h-100 gradient-custom">
    <div class="container ">
      <div class="row d-flex justify-content-center my-4 ">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header ">
              <h5 class="mb-0">Cart <%= countInCart %> items</h5>
            </div>
            <% ProductData.forEach((product)=>{ %>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="/products-images/<%= product.productDetail._id %>.jpg"
                      class="w-100" alt="Blue Jeans Jacket" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
         
              
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong> <%= product.productDetail.product_name %></strong></p>
                  <p><%= product.productDetail.category %></p>
                  <p><%= product.productDetail.description %></p>
                  <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                    title="Remove item"
                    onclick="removeProduct('<%= product._id %>','<%= product.productDetail._id %>')">          
                  <i class="fa fa-trash text-white"></i>
                  </button>
         
                  <!-- Data -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="d-flex mb-4" style="max-width: 300px">           
                   <button style="    margin-top: 33px;
                   height: 60px;" class="btn btn-primary px-3 me-2 "
                      onclick="changequantity('<%= product._id %>','<%= product.productDetail._id %>',-1)"> 
                      <i class="fa fa-minus"></i>                  
                    </button>
                    <div class="form-outline">
                      <strong>  <p style="margin-left: 13px;
                        width: 21px;" class="mt-5" id="<%= product.productDetail._id %>" min="0" name="quantity"><%= product.quantity%></p></strong>
                      <label style="margin-left: -23px;    position: relative;
                      left: 14px;
                      top: 7px;
                  " class="form-label" for="form1">Quantity</label>              
                    </div>
                    <button style=" margin-top: 33px;
                    height: 60px;" class="btn btn-primary px-3 ms-2"
                      onclick="changequantity('<%= product._id %>','<%= product.productDetail._id %>',1)">                     
                      <i class="fa fa-plus"></i>
                    </button>                  
                  </div>
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p  class="text-start text-md-center mt-5">
                    <strong>Price: $<%= product.productDetail.price%>.00 </strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
            
            </div>
            <% }) %>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              
              <p class="mb-0">12.10.2020 - 14.10.2020</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />
              <img class="me-2" width="45px"
                src="/public/payment/paypal-logo-png-2114.png "
                alt="PayPal acceptance mark" style="width:4rem; height:2rem;"/>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
          
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Products
                  <span>$53.98</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Shipping
                  <span>Gratis</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
          
                    <strong>
                      <p class="mb-0 mt-3">Tottal :<span style="margin-left: 2rem;" id="netamount"> $<%= sum%> </span></p>
                    
                    </strong>
                  </div>
                 
                </li>
              </ul>
            
              <a href="/checkout" class="text-white text-decoration-none" ><button type="button" class="btn btn-primary btn-lg  btn-block">
                Go to checkout</a>
              </button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>  
    <script src="/public/javascript/change.js"></script>
  <% }else { %>
  
  <%- include('../partials/emptycart') %>

  <% } %>

  <%- include('../partials/footer') %>



  
 

