                 <%- include('../partials/user-header') %>

                 <link rel="stylesheet" href="/public/stylesheet/checkout.css">

                 <div class="container rounded bg-white">
                 <div class="bg row d-flex justify-content-center pb-5 mt-5">
                 <div class="col-sm-4 col-md-4 ml-1 p-0" style="margin-top: 4rem;">
           
                 <div class="bg-white p-2 d-flex flex-column mt-5" style="border-radius:14px">
                 <!-- <div class="text-center mt-4"> <img class="img-fluid" src="https://i.imgur.com/kvdO7jw.png" width="200"/> </div> -->

                 <h5>Your Order Details </h5>
                 <br>
                 <strong>Products<span class="text float-end">Price</span> </strong>
                 <br>
                 <% productData.forEach((product)=>{%>

                 <h6><%= product.productDetail.product_name %> <span class="text fs-6 fw-normal">(<%= product.quantity%>Qty)</span>
                           <% var a=product.productDetail.price%>
                 <% var b=product.quantity%>
                     <% var c=a*b %>
             
                    <span class="text float-end">:$<%= c %>.00</span> 
                 </h6>
       
                    

                    <% }) %>

                    <br>

                 <strong>Tottal  : <span class="text float-end green"><h4 class="green">$<%= sum %>.00</h4></span> </strong>
              
                 </div>
                 </div>
                 <div class="col-sm-5 col-md-6 mobile">
                 <div class="py-4 d-flex justify-content-end">
               
                  </div>
                  <div class="bg-white p-3 d-flex flex-column" style="border-radius:14px">
                  <div class="pt-2">
                    <h5>Select Your Shipping Address </h5>
                 </div>
                 <div class="d-flex">
                    <select class="form-select mt-2" aria-label="Default select example">
                        <% userData.addressDetails.forEach((address)=>{%>
                        <option name="address"   selected> <%= address.housename %>,<%= address.postoffice%>,<%= address.landmark %>,<%=address.area %>,<%= address.district %>,<%= address.pin %>,<%=address.state %></option>
                        <% }) %>
                        
                     
                      </select>
                             </div>
                 

                 <div class="pt-2 mt-3">
                    <h5>Apply Coupon</h5>
                 </div>
                 <div class="form-group mt-2">
                    <label for="usr">Enter Coupon Code:</label>
                    <input type="text" class="form-control" id="usr" style="width:200px;">
                  </div>
       
                 <div class="pt-2 mt-1">
                    <div class="border-top px-4 mx-8 pt-2"></div>
                    <h5>Payment mehods</h5>
                 </div>
                 <div class="form-check mt-1">
                    <input type="radio" class="form-check-input" id="check1" name="paymentMethod">
                    <label class="form-check-label fw-bolder" for="check1">COD <span class="text fw-lighter">(Cash on Delivery)</span></label>
                  </div>
                  <div class="form-check pt-1">
                    <input type="radio" class="form-check-input" id="check2" name="paymentMethod" value="something">
                    <label class="form-check-label fw-bolder" for="check2">Online</label>
                  </div>
               
                 <input type="button" value="Place Order" class=" btn mt-4 btn-primary btn-block" style="border-radius:10px;">
                    
                 <!-- Modal -->
                 
                 <input type="button" value="Add new address" class="btn btn-dark mt-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" data-bs-whatever="@mdo">

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                            Add new Address
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form action="/addNewAddress" method="post">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="recipient-name"
                                                    class="col-form-label">Housename:</label>
                                                <input required type="text" class="form-control" id="housename"
                                                    name="housename" />
                                                <p id="houseError" style="color: red"></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Area:</label>
                                                <input required type="text" class="form-control" id="area"
                                                    name="area" />
                                                <p id="areaError" style="color: red"></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Landmark:</label>
                                                <input required type="text" class="form-control" id="landmark"
                                                    name="landmark" />
                                                <p id="landmarkError" style="color: red"></p>
                                            </div>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">District</label>
                                                        <input required type="text" class="form-control"
                                                            id="district" name="district" />
                                                        <p id="stateError" style="color: red"></p>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="lastName">State</label>
                                                        <input required type="text" class="form-control" id="state"
                                                            name="state" />
                                                        <p id="pincodeError" style="color: red"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">Post office</label>
                                                        <input required type="text" class="form-control"
                                                            id="postoffice" name="postoffice" />
                                                        <p id="stateError" style="color: red"></p>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="lastName">Pincode</label>
                                                        <input required type="text" class="form-control" id="pin"
                                                            name="pin" />
                                                        <p id="pincodeError" style="color: red"></p>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="lastName">House.NO</label>
                                                        <input required type="text" class="form-control" id="pin"
                                                            name="houseno" />
                                                        <p id="housenoerr" style="color: red"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" value="submit" class="btn btn-primary">
                                                Add
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            

                 <input type="button" value="Cancel" class=" btn mt-2 btn-dark btn-block" style="border-radius:10px;">
                  </div>
                 </div>
                  </div>
                 </div>
                 <%- include('../partials/footer') %>