
    <%- include('../partials/user-header') %>
    
        <%- include('../partials/carousel') %>
            <section class="py-5">
                <div class="row">
                    <h2 class="text text-center mt-5">Skin Care's</h2>
    
                    <div class="container px-4 px-lg-5 mt-3">
    
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/639062f9a60d637ac44ff924.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63a29aef5cf5fedb937bd6e3.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63906abd94911ccb92b38d1b.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="text text-center mt-5">Watch</h2>
                <div class="row">
                    <div class="container px-4 px-lg-5 mt-3">
    
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/639062f9a60d637ac44ff924.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63a29aef5cf5fedb937bd6e3.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63906abd94911ccb92b38d1b.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <section>
    
                <!-- Bannner -->
            <% if(customer){ %>
                    <% if(bannerData.length){ %>
    
                        <div class="container mt-5">
                            <link rel="stylesheet" href="/public/stylesheet/coupon.css">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-5">
    
                                    <div class="text-right p-2"> <img src="https://i.imgur.com/w68MQc4.png" width="120">
                                    </div>
                                    <div class="text-center"> <small class="text-uppercase flat">Flat</small> </div>
                                    <div class="d-flex justify-content-center px-2">
                                        <div class="d-flex flex-row">
                                            <h1 class="mt-0 off">50% OFF</h1> <sup class="mt-2 text-primary star">*</sup>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <hr>
                                    </div>
                                    <div class="text-center mb-5"> <span class="text-uppercase">Valid till 23 august</span>
                                    </div>
                                    <div class="text-right p-1"> <small>*T&C APPLY</small> </div>
    
                                </div>
                                <div class="col-md-5 ms-5 bg-white">
    
                                    <div class="text-right p-0"> <img
                                            src="/public/products-images/ro130rol29bb-rolex-logo-rolex-eps-vector-logo-rolex-eps-logo-vector-free-download.png"
                                            width="120"> </div>
                                    <div class="text-center"> <small class="text-uppercase flat">Flat</small> </div>
                                    <div class="d-flex justify-content-center px-2">
                                        <div class="d-flex flex-row">
                                            <h1 class="mt-0 off"><%= bannerData[0].bannerText %></h1> <sup class="mt-2 text-primary star">*</sup>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <hr>
                                    </div>
    
                                    <div class="px-5 mb-3">
    
                                        <div class="code text-center mt-4 p-3">
    
                                            <span class="text fs-4">Use code :<%=bannerData[0].couponName%></span>
    
    
                                        </div>
    
                                    </div>
                                    <div class="text-center mb-5"> <span class="text-uppercase">Valid till 23 august</span>
                                    </div>
    
    
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
            </section>
            <% } %>
                <% } %> 
    
                    <%- include('../partials/footer') %>
                    
    
                            <style>
                                .card:hover {
                                    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
                                    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
                                    box-shadow: -1px 11px 40px -12px rgba(0, 0, 0, 0.75);
                                }
                            </style>
    
                            <script>
                                $(document).ready(function () {
                                    $(".card").hover(
                                        function () {
                                            $(this).animate({
                                                marginTop: "-=10"
                                            }, 200)
                                        },
                                        function () {
                                            $(this).animate({
                                                marginTop: "0%"
                                            }, 200)
                                        }
                                    )
                                })
                            </script>