
    <%- include('../partials/user-header') %>
    
        <%- include('../partials/carousel') %>
            <section class="py-5">
                <div class="row">
                    <h2 class="text text-center mt-5">Skin Care's</h2>
    
                    <div class="container px-4 px-lg-5 mt-3">
    
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/639062f9a60d637ac44ff924.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63a29aef5cf5fedb937bd6e3.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 13rem" class="card-img-top"
                                        src="/public/products-images/s-l400.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container ">
                <link rel="stylesheet" href="/public/stylesheet/coupon.css">
                <% if(customer){ %>
                    <% if(bannerData.length){ %>
                <div class="row d-flex justify-content-start">
              
                    <div class="col-md-5 ms-5 w-0 bg-white" >

                        <div class="text-right p-4"> <svg width="150" viewBox="0 0 601.3 100" focusable="false" class="chakra-icon css-123fi4c"><g><path d="M282.7,49.6c0-10.3,0-20.6,0-30.9c0-1.6,0.2-1.8,1.8-1.8c1.1,0,2.2,0,3.4,0c0.8,0,1.4,0.3,1.8,1 c2,3.1,4.1,6.2,6.1,9.2c2.3,3.5,4.5,7,6.7,10.4c1.2,1.9,2.5,3.7,3.7,5.6c2.3,3.5,4.6,7,6.9,10.5c0.5,0.8,0.8,0.8,1.4,0 c0.8-1.2,1.6-2.4,2.4-3.6c1.4-2.1,2.8-4.3,4.2-6.4c1.1-1.7,2.1-3.4,3.2-5c1.3-2,2.6-4,3.9-6c1.7-2.7,3.4-5.3,5.2-8 c1.5-2.3,3-4.7,4.6-6.9c0.3-0.4,0.9-0.7,1.4-0.7c1.4-0.1,2.8-0.1,4.2,0c0.9,0,1.2,0.3,1.2,1.3c0,0.6,0,1.3,0,1.9 c0,19.8,0,39.6,0,59.4c0,0.5,0,1.1,0,1.6c0,0.7-0.3,1.1-1,1.2c-1.2,0-2.3,0-3.5,0c-0.6,0-0.8-0.4-0.8-0.9c0-0.6,0-1.2,0-1.8 c0-16.9,0-33.8,0-50.7c0-0.8,0-1.6,0-2.5c0-0.2-0.2-0.5-0.4-0.7c-0.2,0.1-0.5,0.3-0.6,0.4c-1.7,2.7-3.5,5.3-5.2,8 c-2.7,4.1-5.3,8.2-8,12.3c-2.5,3.8-4.9,7.5-7.4,11.3c-0.8,1.2-1.5,2.4-2.3,3.6c-0.5,0.7-1,1.5-2.1,1.3c-0.5-0.1-1-0.4-1.2-0.8 c-2-3-4-6-6-9c-2.3-3.5-4.6-7.1-6.9-10.6c-1.6-2.5-3.3-4.9-4.9-7.3c-1.6-2.5-3.3-5-4.9-7.5c-0.3-0.4-0.6-0.8-0.9-1.1 c-0.4-0.4-0.7-0.2-0.8,0.3c0,0.6,0,1.2,0,1.8c0,17,0,34.1,0,51.1c0,0.6,0,1.2,0,1.8c0,0.7-0.3,1.1-1,1.1c-1.1,0-2.2,0-3.3,0 c-0.9,0-1.2-0.4-1.2-1.2C282.6,70.5,282.6,60.1,282.7,49.6C282.6,49.6,282.7,49.6,282.7,49.6z"></path><path d="M527.7,49.7c0-10.3,0-20.7,0-31c0-0.6-0.2-1.4,0.6-1.7c0.8-0.3,1.6-0.1,2.3,0.6c1.4,1.6,2.7,3.3,4.1,5 c2.9,3.6,5.9,7.2,8.8,10.8c2,2.4,3.9,4.9,5.9,7.3c2.2,2.7,4.4,5.4,6.6,8.1c1.6,2,3.2,4,4.9,6c1.9,2.4,3.9,4.8,5.8,7.2 c1.9,2.4,3.8,4.8,5.7,7.1c0.2,0.3,0.6,0.5,1,0.7c0.1-0.4,0.4-0.8,0.4-1.2c0-8.5,0-17,0-25.4c0-8.2,0-16.4,0-24.6c0-0.3,0-0.6,0-0.9 c0.1-0.5,0.4-0.8,0.9-0.8c1.1,0,2.1,0,3.2,0c0.7,0,1.1,0.4,1.1,1.1c0,0.5,0,1.1,0,1.6c0,20,0,40.1,0,60.1c0,0.3,0,0.6,0,0.9 c0,0.6,0.1,1.2-0.6,1.5c-0.7,0.2-1.5,0.3-2.1-0.3c-0.9-1-1.7-1.9-2.5-2.9c-1.7-2.1-3.5-4.2-5.2-6.3c-3.2-3.9-6.4-7.9-9.5-11.8 c-2.5-3.1-5.1-6.2-7.6-9.3c-2.9-3.5-5.7-7.1-8.6-10.6c-2.3-2.8-4.7-5.7-7-8.5c-0.7-0.8-1.3-1.6-1.9-2.4c-0.2-0.2-0.5-0.3-0.7-0.4 c-0.1,0.3-0.3,0.5-0.4,0.8c0,0.7,0,1.5,0,2.2c0,16.1,0,32.3,0,48.4c0,1.2-0.2,1.4-1.4,1.4c-0.9,0-1.9,0-2.8,0 c-0.8,0-1.1-0.4-1.1-1.3c0-10.1,0-20.2,0-30.3C527.7,50.4,527.7,50,527.7,49.7C527.7,49.7,527.7,49.7,527.7,49.7z"></path><path d="M194.6,38.5c0,6.6,0,13.1,0,19.7c0,2.9-0.4,5.7-1.3,8.4c-1.3,4.2-3.6,7.8-6.9,10.6c-2.1,1.8-4.4,3.1-7,4.2 c-4.4,1.8-8.9,1.9-13.5,1.6c-2.7-0.2-5.2-1-7.5-2.1c-5-2.3-8.9-5.9-11.3-11c-1.5-3.1-2.5-6.4-2.6-9.9c-0.1-7.7-0.1-15.4-0.2-23.1 c0-6.1,0-12.2,0-18.2c0-0.3,0-0.6,0-0.9c0.1-0.6,0.4-0.9,1-0.9c1,0,2,0,3,0c0.7,0,1.1,0.4,1.2,1.1c0,0.2,0,0.4,0,0.7 c0,13.2-0.1,26.3,0,39.5c0,4.6,1.2,8.9,4.1,12.7c1.6,2.1,3.6,3.8,6,5.1c4.1,2.2,8.4,3,13,2.3c2.2-0.4,4.3-1.1,6.4-2.2 c3.5-1.8,6-4.4,7.8-7.7c1.1-2,1.9-4.1,2.1-6.3c0.2-2.3,0.4-4.7,0.4-7c0-12.1,0-24.2,0-36.3c0-1.6,0.2-1.8,1.8-1.8c0.7,0,1.3,0,2,0 c1.1,0,1.4,0.2,1.4,1.3c0,0.8,0,1.5,0,2.3C194.6,26.5,194.6,32.5,194.6,38.5C194.6,38.5,194.6,38.5,194.6,38.5z"></path><path d="M22.2,49.6c0-10.3,0-20.6,0-30.8c0-1.7,0.2-1.9,1.9-1.9c0.8,0,1.6,0,2.4,0c0.8,0,1.2,0.4,1.2,1.1 c0,0.3,0,0.5,0,0.8c0,18.4,0,36.8,0,55.2c0,0.8,0,1.5,0,2.3c0,0.7,0.4,1,1.1,1.1c0.6,0,1.2,0,1.8,0c10.7,0,21.3,0,32,0 c1.5,0,1.7,0.2,1.7,1.7c0,0.7,0,1.4,0,2c0,0.7-0.4,1.1-1,1.1c-0.2,0-0.5,0-0.7,0c-12.8,0-25.6,0-38.4,0c-0.2,0-0.5,0-0.7,0 c-0.8,0-1.2-0.4-1.1-1.2c0-0.5,0-1.1,0-1.6C22.2,69.5,22.2,59.5,22.2,49.6C22.2,49.6,22.2,49.6,22.2,49.6z"></path><path d="M438.8,49.7c0,10.4,0,20.8,0,31.2c0,1.1-0.3,1.3-1.4,1.4c-0.8,0-1.7,0-2.5,0c-1,0-1.3-0.4-1.3-1.4 c0-20.7,0-41.5,0-62.2c0-1.5,0.3-1.8,1.8-1.8c0.7,0,1.5,0,2.2,0c0.7,0,1.1,0.4,1.2,1.1c0,0.3,0,0.5,0,0.8 C438.8,29.1,438.8,39.4,438.8,49.7C438.8,49.7,438.8,49.7,438.8,49.7z"></path></g></svg> </div>
                    
                        <div class="d-flex justify-content-center px-2">
                            <div class="d-flex flex-row mt-5">
                                <h1 class="mt-0 off"><%= bannerData[0].bannerText %></h1> 
                            </div>
                        </div>
                        <div class="line">
                            <hr>
                        </div>

                        <div class="px-5 mb-3">

                            <div class="code text-center mt-4 p-3">

                                <span class="text fs-4">Use code :<%=bannerData[0].couponName%></span>


                            </div>

                        </div>
                        <div class="text-center mb-5"> <span class="text-uppercase">Valid till 23 august</span>
                        </div>


                    </div>
                    <div class="col-md-5 ms-5 w-0 bg-white" >

                        <div class="text-right p-4"> <img src="/public/logo/hunter-logo-png-transparent.png" width="120" alt=""> </div>
                    
                        <div class="d-flex justify-content-center px-2">
                            <div class="d-flex flex-row mt-5">
                                <h1 class="mt-0 off"><%= bannerData[0].bannerText %></h1> 
                            </div>
                        </div>
                        <div class="line">
                            <hr>
                        </div>

                        <div class="px-5 mb-3">

                            <div class="code text-center mt-4 p-3">

                                <span class="text fs-4">Use code :<%=bannerData[0].couponName%></span>


                            </div>

                        </div>
                        <div class="text-center mb-5"> <span class="text-uppercase">Valid till 23 august</span>
                        </div>


                    </div>


                    
                </div>
                <% } %>
                <% } %> 
            </div>
            <section>
           
                <div class="row">
                    <div class="container px-4 px-lg-5 mt-3">
    
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/639062f9a60d637ac44ff924.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63a29aef5cf5fedb937bd6e3.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img style="height: 11rem" class="card-img-top"
                                        src="/public/products-images/63906abd94911ccb92b38d1b.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body ">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h3 class="fw-bolder"></h3>
                                            <!-- Product price-->
                                            <strong class="text fs-4  "></strong>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <section>
     <h2 class="text text-center mt-5">Watche's</h2>
     <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <h1>Example headline.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
              <div class="container">
                <div class="carousel-caption text-right">
                  <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  
  
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
  
          <!-- START THE FEATURETTES -->
  
          <hr class="featurette-divider">
  
          <div class="row featurette bg-white">
            <div class="col-md-7 order-md-2 ">
                <div class="text-center "> <img src="/public/products-images/ro130rol29bb-rolex-logo-rolex-eps-vector-logo-rolex-eps-logo-vector-free-download.png" width="120" alt=""> </div>
              <h1 class="featurette-heading mt-3">Rolex Submariner Date 16610LN<p class="text-muted fs-4 mt-4">The reference 16610 was introduced in 1988 (some say 1986) replacing the reference 1680. It was produced up to circa 2010 when the new Submariner Date with the ‘fatter’ case and ceramic bezel insert was introduced. This is one of the longest references in production for Rolex. This is the model that creates history for Rolex.  </p></h1>
        
                <div class="text-center float-start mt-4 mb-3"><a class="btn btn-outline-dark p-2 ">View Product</a>
                </div>
                
         
            </div>
            <div class="col-md-5 ">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/public/watches/OIP.jpg" data-holder-rendered="true">
            </div>
          </div>
  
          <!-- <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1856cc7b8dc%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1856cc7b8dc%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1145782470703%22%20y%3D%22261.20000076293945%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
            </div>
          </div>
   -->
          <!-- <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading mt-5">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1856cc7b8de%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1856cc7b8de%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1145782470703%22%20y%3D%22261.20000076293945%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
            </div>
          </div>
  
          <hr class="featurette-divider">
   -->
          <!-- /END THE FEATURETTES -->
  
        </div><!-- /.container -->
  
  
        <div class="container marketing mt-3">
  
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4 bg-white">
              <img src="/public/watches/Vintage-Rolex-watches-UK-Collect.jpg" alt="Generic placeholder image" width="160" height="160">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img  src="/public/watches/Daily_Face_Fuel_White.webp" alt="Generic placeholder image" width="160" height="160">
              <h2>Heading</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
           <!-- /.row -->
  
  
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
      </main>
  <section class="bg-dark text-light p-2 text-center">
    <div class="container">
     <div>
         <div class="d-flex justify-content-between">
       
       
            
              <div class="carousel-item active">
                <img class="d-block float-start" style="width: 50%;"  src="/omh/chanel_blue-de-chanel-parfum.jpg" alt="First slide">
              </div>
         
          <h1 class="text mt-5">Blue Channel 
            <br>
          
            <p class="text fs-3 mt-3">blue channel</p>
           <button type="submit"  class="fs-4 mt-3 fw-500" style="height: 3rem; width: 6rem; border-radius: 13px;">Shop</button> </h1>        
                 
          </div>
 
     </div>
    </div>
  </section>
                <section class="py-5">
                    <div class="row">
                       
        
                        <div class="container px-4 px-lg-5 mt-3">
        
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img style="height: 11rem" class="card-img-top"
                                            src="/public/products-images/639062f9a60d637ac44ff924.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body ">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h3 class="fw-bolder"></h3>
                                                <!-- Product price-->
                                                <strong class="text fs-4  "></strong>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
        
        
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img style="height: 11rem" class="card-img-top"
                                            src="/public/products-images/63a29aef5cf5fedb937bd6e3.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body ">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h3 class="fw-bolder"></h3>
                                                <!-- Product price-->
                                                <strong class="text fs-4  "></strong>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
        
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img style="height: 13rem" class="card-img-top"
                                            src="/public/products-images/s-l400.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body ">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h3 class="fw-bolder"></h3>
                                                <!-- Product price-->
                                                <strong class="text fs-4  "></strong>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">View options</a>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
          
    
                    <%- include('../partials/footer') %>
                    
    
                            <style>
                                .card:hover {
                                    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
                                    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
                                    box-shadow: -1px 11px 40px -12px rgba(0, 0, 0, 0.75);
                                }
                            </style>
    
                            <script>
                                $(document).ready(function () {
                                    $(".card").hover(
                                        function () {
                                            $(this).animate({
                                                marginTop: "-=10"
                                            }, 200)
                                        },
                                        function () {
                                            $(this).animate({
                                                marginTop: "0%"
                                            }, 200)
                                        }
                                    )
                                })
                            </script>