<%- include('../partials/userheader-shop') %>

    <link rel="stylesheet" href="/public/stylesheet/shop.css">
    

    <header class="bg-dark py-1">
        <div class="container px-5 px-lg-5 my-3">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
           <!-- Category -->            
        <div id="content" class="my-5">
            <div id="filterbar" class="collapse">
                <div class="box border-bottom">
          
                    <div> <label class="tick">New <input type="checkbox" checked="checked"> <span class="check"></span>
                        </label> </div>
                    <div> <label class="tick">Sale <input type="checkbox"> <span class="check"></span> </label> </div>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">Outerwear <button
                            class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box"
                            aria-expanded="false" aria-controls="inner-box" id="out" onclick="outerFilter()"> <span
                                class="fas fa-plus"></span> </button> </div>
                    <div id="inner-box" class="collapse mt-2 mr-1">
                        <div class="my-1"> <label class="tick">Windbreaker <input type="checkbox" checked="checked">
                                <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Jumpsuit <input type="checkbox"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Jacket <input type="checkbox"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Coat <input type="checkbox"> <span class="check"></span>
                            </label> </div>
                        <div class="my-1"> <label class="tick">Raincoat <input type="checkbox"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Handbag <input type="checkbox" checked> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Warm vest <input type="checkbox"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Wallets <input type="checkbox" checked> <span
                                    class="check"></span> </label> </div>
                    </div>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">season <button class="btn ml-auto"
                            type="button" data-toggle="collapse" data-target="#inner-box2" aria-expanded="false"
                            aria-controls="inner-box2"><span class="fas fa-plus"></span></button> </div>
                    <div id="inner-box2" class="collapse mt-2 mr-1">
                        <div class="my-1"> <label class="tick">Spring <input type="checkbox" checked="checked"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Summer <input type="checkbox"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Autumn <input type="checkbox" checked> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Winter <input type="checkbox"> <span
                                    class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Rainy <input type="checkbox"> <span class="check"></span>
                            </label> </div>
                    </div>
                </div>
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center">price <button class="btn ml-auto"
                            type="button" data-toggle="collapse" data-target="#price" aria-expanded="false"
                            aria-controls="price"><span class="fas fa-plus"></span></button> </div>
                    <div class="collapse" id="price">
                        <div class="middle">
                            <div class="multi-range-slider"> <input type="range" id="input-left" min="0" max="100"
                                    value="10"> <input type="range" id="input-right" min="0" max="100" value="50">
                                <div class="slider">
                                    <div class="track"></div>
                                    <div class="range"></div>
                                    <div class="thumb left"></div>
                                    <div class="thumb right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-2">
                            <div> <span id="amount-left" class="font-weight-bold"></span> uah </div>
                            <div> <span id="amount-right" class="font-weight-bold"></span> uah </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-uppercase d-flex align-items-center">size <button class="btn ml-auto"
                            type="button" data-toggle="collapse" data-target="#size" aria-expanded="false"
                            aria-controls="size"><span class="fas fa-plus"></span></button> </div>
                    <div id="size" class="collapse">
                        <div class="btn-group d-flex align-items-center flex-wrap" data-toggle="buttons"> <label
                                class="btn btn-success form-check-label"> <input class="form-check-input"
                                    type="checkbox"> 80 </label> <label class="btn btn-success form-check-label"> <input
                                    class="form-check-input" type="checkbox" checked> 92 </label> <label
                                class="btn btn-success form-check-label"> <input class="form-check-input"
                                    type="checkbox" checked> 102 </label> <label
                                class="btn btn-success form-check-label"> <input class="form-check-input"
                                    type="checkbox" checked> 104 </label> <label
                                class="btn btn-success form-check-label"> <input class="form-check-input"
                                    type="checkbox" checked> 106 </label> <label
                                class="btn btn-success form-check-label"> <input class="form-check-input"
                                    type="checkbox" checked> 108 </label> </div>
                    </div>
                </div>
            </div>
            <!-- // -->
            <div id="products">
                <div class="row mx-0">
                  <a href="">
                    <% product.forEach((products)=>{ %>
                  
                    <div class="col-lg-4 col-md-6 pt-md-4 pt-3">
                        <a href="/viewproduct/<%=products?._id%>" class="text-decoration-none text-dark">
                   
                        <div class="card d-flex flex-column align-items-center">
                            <div class="product-name text-center"><strong class="text fs-4"><%= products?.product_name %> </strong></div>
                            <div class="card-img mt-2"> <img
                                src="/products-images/<%=products?._id%>.jpg"
                                    alt=""> </div>
                                    
                            <div class="card-body">
                                <p class="text float-start m-0 text-muted"><%= products?.category %></p>
                                <br>
                              
                       <p class="text float-start m-0 fw-bolder fs-4 mt-3">$ <%= products?.price %>.00</p>
                            
                       <br>
                       <br>

                                      <div>
                                    
                         <button type="button" class="btn btn-dark mt-3 " style="width:10rem;" >Buy</button>  </a> 
                      
                                </div>
                            </div>

                      
                        </div>
                    </div>
                </a>
      <% }) %>  </div>
                </div>
             
            
            </div>
        </div>

    <%- include('../partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>