<%- include('../partials/userheader-shop') %>

<%- include('../partials/shopmenu') %>
   
<link rel="stylesheet" href="/public/stylesheet/shop.css">
    
           <!-- Category -->            
           <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
               
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% product.forEach((products)=>{ %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img style="height: 11rem" class="card-img-top" src="/products-images/<%=products?._id%>.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body ">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h3 class="fw-bolder"><%= products?.product_name %></h3>
                                    <!-- Product price-->
                                  <strong class="text fs-4  ">$<%= products?.price%>.00 </strong> 
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/viewproduct/<%=products?._id%>">View options</a></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <% }) %>
                   
                   </div>
                    </div>
                    </section>

    <%- include('../partials/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    