
<%- include('../partials/user-header') %>
<link rel="stylesheet" href="/public/stylesheet/editprofile.css">

    <div class="container">
        <div class="row gutters mt-5">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <div class="account-settings">
                    <div class="user-profile" style="margin-top: 9rem;"> 
                      
                        <div class="user-avatar"> 
                       
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                           
                        </div>  
         
                        <h5 class="user-name text-white"><%= userData.username %></h5>
                        <p class="text-white text-muted"><%= userData.email %></p>
                   
                    </div>
                  
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4 class="mt-3 mb-2 text-dark ">User Information</h4>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group mt-4">
                            <label for="Street">Name</label>
                            <h6 class="text-muted f-w-600 mt-3"><%= userData.email %></h6>
                        </div>
                        
                       <a href="/changepassword"><div class="form-group mt-4">     
                  <button class="btn btn-dark mt-3" type="button"  data-bs-toggle="modal"
                  data-bs-target="#exampleModal-">Change Password</button>
                  
                        </div></a>
                    </div>
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                   
                        <div class="form-group mt-4">     
                            <label for="ciTy">Phone</label>
                            <h6 class="text-muted f-w-400 mt-3"><%= userData.phone %></h6>
                        </div>
                        
                    </div>
                  
                </div> 
                 <br>
                 <hr>
                
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4">
                        <h4 class=" mb-2 text-dark ">Address</h4>
                        <div class="float-end"> <a href="/editprofile"><button class="btn btn-primary"><i class="fa fa-edit"></i></button></a></div> 
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group mt-2">
                            <label for="Street">House Name</label>
                            <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.housename %></h6>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group mt-2">     
                            <label for="ciTy">Area</label>
                            <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.area %></h6>
                      <br>
                        </div>
                    </div>
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="sTate">Landmark</label>
                            <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.landmark %></h6>
                        </div>
<br>
                        <div class="form-group">
                            <label for="sTate">District</label>
                           <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.district %></h6>
                           
                        </div>
                     <br>
                        <div class="form-group">
                            <label for="sTate ">Post office</label>
                            
                       <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.postoffice %></h6>
                        </div>
                        

                    </div>
                 
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="zIp">House.No</label>
                           
                            <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.houseno%></h6>
                        </div>
                         <br>
                        <div class="form-group">
                            <label for="zIp ">State</label>
                            <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.state %></h6>
                         
                        </div> 
                        <br>
                        <div class="form-group">
                            <label for="sTate ">Pin Code</label>
                            <h6 class="text-muted f-w-400 mt-2"><%= userData?.addressDetails[0]?.houseno%></h6>
                      
                        </div>
                           <br>
                       
                    </div>
                </div>
                <br>
                
            </div>
        </div>
        </div>
       </div>
       </div>
</div>


